.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 70vh;
    background-color: #212121;
    background-size: cover;
    background-image: url(./image/1.jpg);
}
