
      #root {
        height: 100vh;
      }
               
      .btn-grad {
        background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
        text-align: center;
        transition: 0.5s;
        color: black;            
        display: block;
        text-decoration: none;
        background-size: 200% auto;
      }

      .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        text-decoration: none;
        color: black;    
      }